.header {
    background: #41C6F3;
}

.boxLogoHeader {
    padding: 15px 0;
}

.menu-header li{
    background: #024594;
    color: #FFF; 
    flex-basis: 20%;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
}

.menu-header li:hover {
    background: #0251ad;
    color: #e6e6e6;
    cursor: pointer;
}