
.section-imagens {
    margin-top: 50px;
}

.banner-img {
    min-height: 300px;
}

.section-imagens .banner-1 {    
    min-height: 300px;
    background:  #024594;
    border: 1px solid #707070;
    border-radius: 10px;
}

.section-imagens .banner-2.degrade {
    background: linear-gradient(to bottom, #41C6F3, #024594);
}

.section-texto {
    color: #666666;
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;
    line-height: 1;
}

.section-texto .destaque-1 {
    color: #000;
}

.content-texto {
    padding: 15px;
    box-shadow: 2px 2px 5px #707070;
}

.destaque-danger {
    color: red;
}

.destaque-alert {
    color: #FF8A00;
    text-decoration: underline;
}

.section-infos {
    margin-top: 50px;
}

.tabela {
    text-align: center;
    margin-bottom: 100px;
}
.tabela  table{
    display: flex;
    flex-direction: column;
}
.tabela th {
    font-weight: 700;
}
.tabela tr {
    display: flex;
    flex-basis: 100%;
}
.tabela td, .tabela th {
    flex-basis: 33%;
    padding: 10px 15px;
}

.tabela td:nth-child(1), .tabela th:nth-child(1) {color: #707070;}
.tabela td:nth-child(2), .tabela th:nth-child(2) {color: #E12C2C;}
.tabela td:nth-child(3), .tabela th:nth-child(3) {color: #279700;}

.tabela tbody tr:nth-child(odd) {
    background: #F7F7F7;
}

.tabela thead {
    box-shadow: 0 3px 3px#e6e6e6; 
    z-index: 1;
}

.wrapToggle {
    padding: 15px 20px;
}

.wrapToggle h2 {
    font-size: 18px;
    color: #3C4252;
    margin-bottom: 15px;
}

.wrapToggle img {
    margin: 0 auto;
    display: block;
}

.ativa {
    border: 1px solid red;
}

.destaque-strong {
    color: #000;
}

@media screen and (max-width: 639px) {
    .section-imagens .banner-2.degrade {
        margin-top: 30px;
    }
}