.wrapPopUp {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: none;
}

.backgroundPopUp {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background: #000;
    opacity: .3;
}

.popUpContent {
    position: relative;
    z-index: 9;
}
.open-modal {
    overflow: hidden;
}
.open-modal .wrapPopUp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -webkit-animation: animacao .5s forwards;    
            animation: animacao .5s forwards;
}

.imgModal, .titleModal {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.titleModal {
    font-size: 24px;
    color: #000;
    font-weight: 700;
    line-height: 1;
    margin: 20px 0;
}

.modalContent {
    background: #FFF;
    border-radius: 10px;
    padding: 30px;
    position: relative;
}

.btnCloseModal {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

@keyframes animacao {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1023px) {
    .modalContent {
        max-height: 400px;
        overflow-y: auto;
    }
}